@font-face
{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body
{
	font-family: 'Open Sans';font-size: 18px;
	background: #f3f1f1;
	color: #4e4f4b;
	
}
footer
{
	
}

header
{
	padding: 8px;
	display: flex;
	justify-content: space-between;
	background: #eae2dd;
}

nav 
{
	width: 20%;
	min-width: 15em;
	max-width: 20em;
}

section
{

}

.index-section
{
	text-align: center;
}

.index-logo
{
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}

.page-container
{
    display: flex;
	flex-wrap: wrap;
}

/********** Profile menu **********/

.onclick-menu
{
    position: absolute;
	right: 0;
    display: inline-block;
	pointer-events: none;
}
.onclick-menu:before
{
    content: "";
}
.onclick-menu:focus
{
    outline: none;
}
.onclick-menu:focus .onclick-menu-content
{
	pointer-events: auto;
	outline: none;
    opacity: 1;
    visibility: visible;
	right: 0;	
}

.onclick-menu-content
{
	pointer-events: none;
	background: #eae2dd;
	margin-top: 2px;
	margin-right: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
    z-index: 1;
    position: relative;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.5s;
}

.onclick-menu-label
{
	color: #4e4f4b;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	pointer-events: auto;
	
}

.onclick-menu-icon
{
	margin-right: 16px;
	height: 48px;
}
